#drag{
    min-height: 300px;

}
#drag ul{
    list-style: none;
    font-weight: 500;
    font-size: 16px;
}
#drag li{
  cursor: pointer;
}
#drop{
  min-height: 900px;

}
#drop .row ,#drop .col-md-4 ,#drop .col-md-6 ,#drop .col-md-3 ,#drop .countainer,form{
  border: 1px dashed grey;
  min-height:  200px
}
body{

}
